/* variables */
:root {
  --primary-color: #bd1e2d;
  --green: #018045;
  --yellow: #da903b;
  --blue: #59a3f6;
  --gray: #a3a3a3;
  --light-yellow: #f3ad69;
}
/* variables */

@media screen and (max-width: 960px) {
  @import url('./mobile.css');
}

/* start: import */
@font-face {
  font-family: 'Aachenb';
  src: url('../fonts/aachenb.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/poppins-medium.ttf');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('../fonts/poppins-light.ttf');
}

@font-face {
  font-family: 'Cardillac';
  src: url('../fonts/cardillac-medium.ttf');
}
/* end: import */

/* start: media */
@media only screen and (min-width: 769px) {
  .d-none-desktop {
    display: none !important;
  }
  .desktop-width {
    min-width: 1000px;
  }
}
/* end: media */

/* start: text */
.text-primary {
  color: var(--primary-color) !important;
}

.text-justify {
  text-align: justify;
}

.extra-small-text {
  font-size: 8px;
}

.small-text {
  font-size: 11px;
}

.medium-text {
  font-size: 16px;
}

.large-text {
  font-size: 28px;
}

.description-text {
  font-size: 16px;
}

.black-text {
  color: black !important;
}

.green-text {
  color: var(--green) !important;
}

.yellow-text {
  color: var(--yellow) !important;
}

.blue-text {
  color: var(--blue) !important;
}

.white-text {
  color: white!important;
}

.gray-text {
  color: var(--gray) !important;
}

.upper-text {
  text-transform: uppercase;
}

.aachenb {
  font-family: 'Aachenb';
}

.poppins {
  font-family: 'Poppins Medium';
}

.poppins-light {
  font-family: 'Poppins Light';
}

.cardillac {
  font-family: 'Cardillac';
}
/* end: text */

/* start: Background color */
.black-bg-color {
  background-color: black !important;
}

.facebook-bg-color {
  background-color: #4167b2 !important;
}

.google-bg-color {
  background-color: #ea4235 !important;
}

.blue-bg-color {
  background-color: var(--blue);
}

.yellow-bg-color {
  background-color: #ffad00 !important;
}

.light-yellow-bg-color {
  background-color: var(--light-yellow);
}

.gray-bg-color {
  background-color: #f8f8f8 !important;
}

.primary-bg-color {
  background-color: var(--primary-color) !important;
}

.white-bg-color {
  background-color: white !important;
}

.secondary-bg-color {
  background-color: #f0ede6 !important;
}

.transparent-bg {
  background-color: transparent !important;
}
/* end: Background color */

#mainHeader,
#simplifiedHeader {
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 0;
  background-color: white;
}

#simplifiedHeader {
  opacity: 0;
  position: fixed;
  z-index: 100;
}

#mainHeader {
  position: sticky;
  z-index: 101;
}

.table-width {
  width: 500px
}

.is-hidden {
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: translate(0, -60px);
  -webkit-transform: translate(0, -60px);
  -moz-transform: translate(0, -60px);
  -ms-transform: translate(0, -60px);
  -o-transform: translate(0, -60px);
}

.is-visible {
  opacity: 1 !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.slick-prev:before, .slick-next:before {
  color: var(--primary-color)
}

.slick-prev {
  left: 8px;
}

.slick-next {
  right: 8px;
}

.learn-more-btn {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: fit-content;
  box-shadow: none;
  padding: 3px 6px;
  background-color: transparent;
  border-color: #90c0fa;
  color: #90c0fa;
}

.no-margin {
  margin: 0 !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

.bottom-divider {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.bottom-red-divider {
  border-bottom: 2px solid var(--primary-color);
}

.no-padding {
  padding: 0 !important;
}

.no-border-right {
  border-right: 1px solid transparent !important;
}

.no-border-left {
  border-left: 1px solid transparent !important;
}

.order-btn {
  border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  -ms-border-radius: 16px !important;
  -o-border-radius: 16px !important;
  border-color: var(--primary-color);
  width: 230px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}

.cus-input {
  border: 0.5px solid #f5f5f5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  height: 35px;
  padding-left: 16px;
  width: 15rem;
  box-shadow: 2px 2px 5px #cccbcb;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

::placeholder {
  font-size: 0.8em;
  color: #000;
  font-weight: 450;
  display: flex;
  align-items: center;
}

.cus-input:focus {
  outline: none !important;
  border: 0.5px solid #c5c5c5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 0.8em;
  color: #000;
  font-weight: 450;
  padding-left: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 0.5px solid #f5f5f5;
  border-radius: 12px;
  right: 0px;
  background-color: #fff;
  width: 250px;
  overflow: auto;
  box-shadow: 3px 3px 5px #d8d8d8;
  z-index: 1;
  padding: 10px 15px;
  animation: growDown 200ms ease-in-out forwards;
  -webkit-animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: block;
  cursor: pointer;
}

@keyframes growDown {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }

  80% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.main-cart,
.cart {
  position: relative;
}

#paymentModal {
  position: fixed;
  top: 40vh;
  width: 300px;
  max-width: 300px;
  left: calc(60vw - 300px);
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  z-index: 100;
}

textarea {
  resize: none;
}

#dark-overlay {
  height: 400vh;
  position: absolute;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.main-cart::before,
.cart::before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  background: var(--green);
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
  top: -8px;
  right: 0px;
}

#countdown {
  font-family: "Poppins Medium";
  text-transform: uppercase;
  width: 7rem;
  border: 1px solid transparent;
  background: var(--primary-color);
  color: white;
  border-radius: 10px;
  padding: 8px 0;
  margin: 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width: 768px) {
  #countdown {
    width: 5rem!important;
    font-size: 8px;
  }
}

#countdown span {
  font-weight: bold; /*boldens text in the span element*/
  font-size: 30px; /*changes the text size in the span element*/
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px);
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.content-button {
  font-size: 0.9em;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 3px 0;
  box-shadow: 3px 3px 5px #d8d8d8;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navigate-item {
  font-size: 1.1em;
  margin: 0px;
  font-weight: bold;
  width: fit-content;
}

.icon-button {
  background: none;
  border: none;
}

.chain-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 2px 2px 4px rgba(190, 190, 190);
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 16px;
  width: 270px;
  position: relative;
}

.img-chain {
  position: absolute;
  right: 150px;
  bottom: 40px;
}

.chain-name {
  position: relative;
  left: 35px;
  font-size: 2em;
}

.border-bot {
  border-bottom: 2px solid #ea4235;
}

a {
  text-decoration: none;
  color: black !important;
}

a:hover {
  color: var(--primary-color) !important;
}

.combo-wrap {
  max-width: 600px;
}

.img-wrap {
  max-width: fit-content;
  margin-right: 0;
  z-index: -2;
}

.chip {
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: var(--primary-color);
  color: white;
  padding: 3px 12px;
}

.carousel-caption {
  top: 1rem;
}

.carousel-description {
  position: absolute;
  left: 0;
  top: 10rem;
}

.place-order {
  background-color: white;
  border-top: 1px solid #000;
  z-index: 100;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-transparent {
  background-color: transparent;
}

.carousel-item {
  max-height: 600px !important;
}

.register-btn {
  background-color: var(--primary-color);
  padding: 4px 16px;
  color: white;
  border: 0.5px solid var(--primary-color);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: relative;
  right: 24px;
}

.red-divider {
  border-right: 2px solid var(--primary-color);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu li {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.accordion-no-btn::after {
  display: none;
}

.chain {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.chain:hover {
  opacity: 1;
}

.chain.active {
  opacity: 1;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

#removeBtn .bg-danger {
  color: var(--primary-color) !important;
  background-color: white !important;
  border: 1px solid var(--primary-color) !important;
}

#chi-nhanh {
  left: 0 !important;
  right: 0 !important;
  margin: 0 24px;
}

#chiNhanhBg {
  transition: all 0.1fs ease-in-out;
  cursor: pointer;
  -webkit-transition: all 0.1fs ease-in-out;
  -moz-transition: all 0.1fs ease-in-out;
  -ms-transition: all 0.1fs ease-in-out;
  -o-transition: all 0.1fs ease-in-out;
}

.stepOneButton,
.stepTwoButton,
.stepThreeButton {
  transition: all 0.15s ease-in-out;
}

.stepOneButton:hover,
.stepTwoButton:hover,
.stepThreeButton:hover {
  background-color: var(--primary-color);
  color: white;
}
