/* variables */
:root {
  --primary-color: #bd1e2d;
  --green: #018045;
  --yellow: #da903b;
  --blue: #59a3f6;
  --gray: #a3a3a3;
}
/* variables */

@media screen and (max-width: 960px) {
  @import url('./mobile.css');
}

/* start: import */
@font-face {
  font-family: "Aachenb";
  src: url("../fonts/aachenb.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/poppins-medium.ttf");
}

@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/poppins-light.ttf");
}

@font-face {
  font-family: "Cardillac";
  src: url("../fonts/cardillac-medium.ttf")
}
/* end: import */

/* start: media */
@media only screen and (min-width: 768px) {
  .d-none-desktop {
    display: none!important;
  }
  .desktop-width {
    min-width: 1000px
  }
}
/* end: media */

/* start: text */
.text-primary {
  color: var(--primary-color) !important;
}

.text-justify {
  text-align: justify;
}

.extra-small-text {
  font-size: 8px;
}

.small-text {
  font-size: 12px;
}

.medium-text {
  font-size: 16px;
}

.large-text {
  font-size: 28px;
}

.description-text {
  font-size: 16px;
}

.black-text {
  color: black;
}

.green-text {
  color: var(--green)
}

.yellow-text {
  color: var(--yellow)
}

.blue-text {
  color: var(--blue)
}

.white-text {
  color: white;
}

.gray-text {
  color: var(--gray)
}

.upper-text {
  text-transform: uppercase;
}

.aachenb {
  font-family: "Aachenb";
}

.poppins {
  font-family: "Poppins Medium";
}

.poppins-light {
  font-family: "Poppins Light";
}

.cardillac {
  font-family: "Cardillac";
}
/* end: text */

/* start: Background color */
.black-bg-color {
  background-color: black!important;
}

.facebook-bg-color {
  background-color: #4167b2!important;
}

.google-bg-color {
  background-color: #ea4235!important;
}

.blue-bg-color {
  background-color: var(--blue);
}

.common-bg-color {
  background-color: #ffad00!important;
}

.gray-bg-color {
  background-color: #f8f8f8!important;
}

.primary-bg-color {
  background-color: var(--primary-color)!important;
}

.white-bg-color {
  background-color: white!important;
}

.secondary-bg-color {
  background-color: #f0ede6!important;
}
/* end: Background color */

.learn-more-btn {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: fit-content;
  box-shadow: none;
  padding: 3px 6px;
  background-color: transparent;
  border-color: #90c0fa;
  color: #90c0fa;
}

.no-margin {
  margin: 0!important;
}

ul {
  list-style-type: none;
  padding: 0;
}

.bottom-divider {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.bottom-red-divider {
  border-bottom: 2px solid var(--primary-color);
}

.cus-input {
  border: 0.5px solid #f5f5f5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  height: 35px;
  padding-left: 16px;
  width: 300px;
  box-shadow: 2px 2px 5px #cccbcb;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

::placeholder {
  font-size: 0.8em;
  color: #000;
  font-weight: 450;
  display: flex;
  align-items: center;
}

.cus-input:focus {
  outline: none !important;
  border: 0.5px solid #c5c5c5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 0.8em;
  color: #000;
  font-weight: 450;
  padding-left: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 0.5px solid #f5f5f5;
  border-radius: 12px;
  right: 0px;
  background-color: #fff;
  width: 250px;
  overflow: auto;
  box-shadow: 3px 3px 5px #d8d8d8;
  z-index: 1;
  padding: 10px 15px;
}

.dropdown {
  display: block;
}

.show {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.content-button {
  font-size: 0.9em;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 3px 0;
  box-shadow: 3px 3px 5px #d8d8d8;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navigate-item {
  font-size: 1.1em;
  margin: 0px;
  font-weight: bold;
  width: fit-content;
}

.icon-button {
  background: none;
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  border: none;
}

.chain-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 2px 2px 4px rgba(190, 190, 190);
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 16px;
  width: 270px;
  position: relative;
}

.img-chain {
  position: absolute;
  right: 150px;
  bottom: 40px;
}

.chain-name {
  position: relative;
  left: 35px;
  font-size: 2em;
}

.border-bot {
  border-bottom: 2px solid #ea4235;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--primary-color);
}

.combo-wrap {
  max-width: 600px;
}

.img-wrap {
  max-width: fit-content;
  margin-right: 24px;
}

.chip {
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: var(--primary-color);
  color: white;
  padding: 3px 12px;
}

.carousel-caption {
  top: 1.5rem;
}

.carousel-description {
  position: absolute;
  left: 0;
  top: 10rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.3)
}

.bg-transparent {
  background-color: transparent;
}

.carousel {
  max-height: 600px!important;
}

.carousel-item {
  max-height: 600px!important;
}

.register-btn {
  background-color: var(--primary-color);
  padding: 4px 16px;
  color: white;
  border: 0.5px solid var(--primary-color);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: relative;
  right: 24px;
}

.red-divider {
  border-right: 2px  solid var(--primary-color);
}