@media only screen and (max-width: 768px) {
  .carousel-height {
    height: 800px!important;
  }
  .red-divider {
    display: none!important;
  }
  .d-none-mobile {
    display: none!important;
  }
}

@media only screen and (min-width: 768px) {
  .d-none-desktop {
    display: none!important;
  }
}